.projects-container {
  min-height: 425px;
}

.project-card {
  display: flex;
  flex-direction: column;
  height: 125px;
  border-bottom: 1px solid #fff;
  padding: 12px;
  &:hover {
    cursor: pointer;
    background-color: #2f2f2f;
  }
  &:last-of-type {
    border-bottom: none;
  }

  p {
    flex-grow: 1;
    font-size: 14px;
    color: #c4c4c4;
  }

  .project-links {
    display: flex;

    a {
      border-radius: 8px;
      border: 1px solid #fff;
      text-decoration: none;
      color: #fff;
      padding: 8px;
      margin-right: 12px;

      &:hover {
        background-color: #4b4b4b;
      }
    }
  }
}

.active-project {
  border-right: 5px solid #ff4d5a;
}
.card3 {
  border-radius: 0 0 8px 8px;
}

#details {
  padding: 12px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
    color: #c4c4c4;
    margin: 6px 0;
  }
  .tech-stack-pills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    p {
      margin: 12px 6px 0px 6px;
      padding: 6px 12px;
      border-radius: 8px;
      border: 1px solid #fff;
      font-size: 14px;
    }
  }
  .image-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 24px;
    position: relative;
    flex-grow: 1;

    .project-image-thmb {
      max-height: 750px;
      max-width: 250px;
      object-fit: cover;
      border-radius: 8px;
      margin: 0 8px;
    }

    .bill-tracker-img {
      max-width: 100%;
    }
  }
}
